<div id="home-4-panel" class="row">
		<div class="col bg-white content panel-content">
			<h2><%= link_to 'Today' , show_panel_path(:filter =>"Today")%></h2>
			<hr/>

				<ul>
					<%  @todayBreakdown.each do |job| %>
					<li>Consignments: <%= job[0] %></li>
					<li>Parcels: <%= job[1] %></li>
					<li>Pallets: <%= job[2] %></li>
					<li>Bundles: <%= job[3] %></li>
					<% end %>
				</ul>
			
		</div>
		<div class="col bg-white content panel-content">
			<h2><%= link_to 'Yesterday' , show_panel_path(:filter =>"Yesterday")%></h2>
			<hr/>
				<ul>
					<%  @yesterdayBreakdown.each do |job| %>
					<li>Consignments: <%= job[0] %></li>
					<li>Parcels: <%= job[1] %></li>
					<li>Pallets: <%= job[2] %></li>
					<li>Bundles: <%= job[3] %></li>
					<% end %>
				</ul>
		</div>
		<div class="col bg-white content panel-content">
			<h2><%= link_to 'Week' , show_panel_path(:filter =>"Week")%></h2>
			<hr/>
				<ul>
					<%  @weekBreakdown.each do |job| %>
					<li>Consignments: <%= job[0] %></li>
					<li>Parcels: <%= job[1] %></li>
					<li>Pallets: <%= job[2] %></li>
					<li>Bundles: <%= job[3] %></li>
					<% end %>
				</ul>
		</div>
		<div class="col bg-white content panel-content">
			<h2><%= link_to 'Month' , show_panel_path(:filter =>"Month")%></h2>
			<hr/>
				<ul>
					<%  @monthBreakdown.each do |job| %>
					<li>Consignments: <%= job[0] %></li>
					<li>Parcels: <%= job[1] %></li>
					<li>Pallets: <%= job[2] %></li>
					<li>Bundles: <%= job[3] %></li>
					<% end %>
				</ul>
		</div>
	</div>