<div class="container-fluid">
	<div class="bg-white content">
		<h2>Consignments added thie week</h2>
		<hr>
		<div class="row">
			<div class="col">
				<table>
					<tr>
						<td>Day</td>
						<td>Consignments</td>
					
					</tr>
				<% @weekByDay.each do |x| %>
					<tr>
						<td><%= x[0].strftime('%A')%></td>
						<td class="center-content"><%= x[1]%></td>
						
					</tr>
				<% end %>
				</table>
			</div>

			<div class="col">
				<canvas id="doh-chart">
				</canvas>
			</div>

			<div class="col">
				<canvas id="bar-chart">
				</canvas>
			</div>
		</div>
	</div>
</div>

<script>
	var ctx = document.getElementById('bar-chart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [
          <% @weekByDay.each do |a|%>
              '<%= a[0].to_date.strftime('%A') %>',
            <% end %>
        ],
        datasets: [{
            label: 'Consignments',
           	backgroundColor: ['rgb(236, 219, 83)',
                              'rgb(227,65,50)',
                              'rgb(108,160,220)',
                              'rgb(147,71,66)',
                              'rgb(219,178,209)',
                              'rgb(235,150,135)',
                              'rgb(0,166,140)',
                              'rgb(100,83,148)',
                              'rgb(108,79,60)',
                              'rgb(235,225,223)',
                              'rgb(188,108,167)',
                              'rgb(191,216,51)'],
            borderColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [
            <% @weekByDay.each do |a|%>
              <%= a[1] %>,
            <% end %>
            ],
            
        }]

    },

    // Configuration options go here
    options: {
      scales:{
        yAxes:[{
          display:true,
          ticks:{
            suggestedMin:0,
            beginAtZero:true
          }
        }]
      }
    }
});


		var weekDoh = document.getElementById('doh-chart').getContext('2d');
		var newChart = new Chart(weekDoh, {
		type: 'doughnut',
	
			data: {
				datasets: [{
					data: [
						<% @weekBreakdown.each do |x|%>
							<%= x[1] %>,<%=x[2]%>,<%=x[3]%>
						<%end%>
					],
					backgroundColor: [
						'rgb(255, 159, 64)',
						'rgb(255, 205, 86)',
						'rgb(54, 162, 235)'
					],
					label: 'Dataset 1'
				}],
				labels: [
					'Parcels','Pallets','Bundles'
				]
			},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				/*title: {
					display: true,
					text: 'Total Pieces'
				},*/
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		});

		
  </script>