<div class="container-fluid">
  <div class="bg-white content">
    <p id="notice"><%= notice %></p>

    <h1>Customers</h1>
    <hr/>
    <table class="table table-striped 100-wide">
      <thead>
        <tr>
          <th>Customer code</th>
          <th>Company name</th>
          <th>Address1</th>
          <th>Address2</th>
          <th>Address3</th>
          <th>County</th>
          <th>Eircode</th>
          <th>User</th>
          <th>Consignment</th>
          <th>Consignments count</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user_customers.each do |customer| %>
          <tr>
            <td><%= customer.customer_code %></td>
            <td><%= link_to customer.company_name, customer %></td>
            <td><%= customer.address1 %></td>
            <td><%= customer.address2 %></td>
            <td><%= customer.address3 %></td>
            <td><%= customer.county %></td>
            <td><%= customer.eircode %></td>
            <td><%= customer.user_id %></td>
            <td><%= customer.consignments_count %></td>
            <td><%= link_to 'Show', customer %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
            <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    

    <%= link_to 'New Customer', new_customer_path %>
  </div>
</div>
