<div id="test">
<table id="results-table" class="table table-striped 100-wide sortable">
  <thead>
    <tr>
      <th>Job Id</th>
      <th>Company</th>
      <th>Reference</th>
      <th class="no-sort">Parcels</th>
      <th class="no-sort">Pallets</th>
      <th class="no-sort">Bundles</th>
      <th class="no-sort">Add 1</th>
      <th class="no-sort">Add 2</th>
      <th class="no-sort">Add 3</th>
      <th>County</th>
      <th class="no-sort">Eircode</th>
      <th>Date</th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @results2.each do |consignment| %>
      <tr>
        <td><%= consignment.id %></td>
        <td><%= link_to consignment.customer.company_name ,consignment.customer%></td>
        <td><%= consignment.reference %></td>
        <td><%= consignment.parcels %></td>
        <td><%= consignment.pallets %></td>
        <td><%= consignment.bundles %></td>
        <td><%= consignment.customer.address1 %></td>
        <td><%= consignment.customer.address2 %></td>
        <td><%= consignment.customer.address3 %></td>
        <td><%= consignment.customer.county %></td>
        <td><%= consignment.customer.eircode %></td>
        <td><%= link_to consignment.created_at.strftime('%d-%m-%Y'), by_date_path(:startdate => consignment.created_at, :enddate => consignment.created_at)%></td>
        <td><%= link_to 'Show', consignment %></td>
        <td><%= link_to 'Edit', edit_consignment_path(consignment) %></td>
        <td><%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

</div>
<script>

$(document).ready(function() {
    var table = $('#results-table').DataTable({
   'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': ['no-sort']
    }]
});
} );
</script>