<p id="notice"><%= notice %></p>

<h1>Consignments</h1>

<table>
  <thead>
    <tr>
      <th>Company code</th>
      <th>Reference</th>
      <th>Parcels</th>
      <th>Pallets</th>
      <th>Bundles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consignments.each do |consignment| %>
      <tr>
        <td><%= consignment.company_code %></td>
        <td><%= consignment.reference %></td>
        <td><%= consignment.parcels %></td>
        <td><%= consignment.pallets %></td>
        <td><%= consignment.bundles %></td>
        <td><%= link_to 'Show', consignment %></td>
        <td><%= link_to 'Edit', edit_consignment_path(consignment) %></td>
        <td><%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consignment', new_consignment_path %>
